@import url('https://fonts.googleapis.com/css?family=Mali&display=swap');

.App {
  text-align: center;
}

#quote-text {
  padding: 3em;
}

#quote-author {
  padding: 2em;
}

#new-quote {
  margin: 2em;
}

#quote-box {
  margin: 50px;
  font-size: 1.5em;
  font-family: 'Mali', cursive;
}

